
@import url('https://fontlibrary.org//face/minecraftia');
* {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    color: darkorange;
}
#Header1Text {text-align: center;}

#MainWebsiteHeader {text-align: center; font-family: 'Minecraft', sans-serif}
.SsomarPlugins_Container{
    display: flex;
    justify-content: center;
}
#EI-TEXT {
    color:red;
}
#EB-TEXT {
    color:#35DE26;
}
#EE-TEXT {
    color:#ED53E0;
}
.SsomarPlugins_EI {
    margin: 0 30px;
    position: relative;
}
/*            .SsomarPlugins_EI-HoverText {
        display: none;
        text-align: center;
    }
    .SsomarPlugins_EI:hover .SsomarPlugins_EI-HoverText {
        display: block
    }
    */
.SsomarPlugins_EB {
    margin: 0 30px;
}
.SsomarPlugins_EE {
    margin: 0 30px;
}

.TextContainer {
    display: flex;
    justify-content: center;
}
.TextSpan {
    margin: 0 20px;
}